<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bigote, my friend.</title>
    <link rel="stylesheet" href="bigote.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Coiny&display=swap" rel="stylesheet">
    <script type="text/javascript" src="bigote.js"></script>
</head>
<body>

<div class="container">
    <h1>Bigote, my friend.</h1>

    <img src="bigote.jpg" alt="Bigote, my friend.">

    <div class="input-group">
        <input id="urlText" type="text" placeholder="Input the Youtube url here...">
        <button id="downloadButton" type="button" onclick="download()">Download</button>
    </div>

    <footer>Bigote is <a href="https://github.com/axelei/bigote" target="_blank">free software</a>.</footer>

</div>

</body>
</html>